{% extends "layout.html" %}
{% block content %}
    <div class="d-flex flex-row flex-wrap justify-content-between">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h1 class="h1" style="text-align: center">
                <img src="../static/img/project_imgs/raccoon_icon_126074.png" alt="ACDC poster" class=" mx-auto" width="75">
                About project
                <img src="../static/img/project_imgs/raccoon_icon_126074.png" alt="ACDC poster" class=" mx-auto" width="75">
            </h1>
            <p class="mb-4">
                <strong>Lab 11. </strong>Python - Flask.
            </p>
            <p class="mb-4">
                Made by &copy;Andrii Babushko. Group: WT-21-1(1).
            </p>
            <p class="mb-4">
                Project repository <a href="https://github.com/AndriiBabushko/Python">here</a>
            </p>
        </div>
    </div>
{% endblock content %}